/* Primary Color: #98AA28
Secondary Color: #A2BDAA
Body text color: #78847D
Dark Green: #253D32
White Color: #FFFFFF */
/* @import  */
/* :root{
    Primary-Color: #98AA28;
    Secondary-Color: #A2BDAA;
    Body-text-color: #78847D;
    Dark-Green: #253D32;
    White-Color: #FFFFFF;
} */

